body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#c {
    width: 100vw;
    height: 100vh;
    display: block;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform:  translateY(-50%) translateX(-50%);
}
