body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#c {
    width: 100vw;
    height: 100vh;
    display: block;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translateY(-50%) translateX(-50%);
}

#hud {
    position: absolute;
    bottom: 2%;
    left: 50%;
    background: rgb(30,30,30);

    transform: translate(-50%, 0);

    white-space: nowrap;
    overflow: hidden;

    padding:4px;

}

#hud input[type="radio"] {
    width: 0;
    height: 0;
    display: none;
    
}

#hud input[type="radio"] + label {
    vertical-align:top;
    background-image: url("textures/textureatlas.png");
    background-size: 1600% 400%;
    image-rendering: pixelated;

    width: 64px;
    height: 64px;
    display: inline-block;

    margin:4px;
}

#hud input[type=radio]:checked + label {
    outline: 2px solid white;
  }
